/* line 1, ../scss/theme.scss */
html {
  margin: 0;
}

/* line 4, ../scss/theme.scss */
body {
  position: relative;
  -webkit-font-smoothing: antialiased;
  font-family: "Lato", sans-serif !important;
  padding-top: 107px;
  line-height: 20px;
}
/* line 11, ../scss/theme.scss */
body h1, body h2, body h3, body h4, body h5, body h6, body .h1, body .h2, body .h3, body .h4, body .h5, body .h6 {
  font-family: "Lato", sans-serif !important;
  font-weight: bold;
  color: inherit;
  text-rendering: optimizelegibility;
}
/* line 18, ../scss/theme.scss */
body h1, body h2, body h3 {
  line-height: 40px;
}
/* line 22, ../scss/theme.scss */
body h2 {
  font-size: 31.5px;
}

/* line 26, ../scss/theme.scss */
a:hover {
  text-decoration: none;
}

/* line 32, ../scss/theme.scss */
input[type="text"],
input[type="password"],
input[type="submit"],
textarea {
  font-family: "Lato", Helvetica;
}

/* line 37, ../scss/theme.scss */
body.pull_top {
  padding-top: 0px !important;
}

/* line 41, ../scss/theme.scss */
header {
  background: rgba(0, 0, 0, 0.6) !important;
}

/* Navbar
-------------------------------------------------- */
/* line 47, ../scss/theme.scss */
.navbar {
  padding: 10px 0px 10px 0px;
}
/* line 50, ../scss/theme.scss */
.navbar.navbar-inverse {
  background: rgba(0, 0, 0, 0.4);
  border-bottom: 1px solid #585858;
}
/* line 54, ../scss/theme.scss */
.navbar.navbar-inverse.navbar-static-top {
  background-color: #252528;
}
/* line 57, ../scss/theme.scss */
.navbar.navbar-inverse.navbar-static-top .container {
  margin-top: 0;
  margin-bottom: 0;
}
/* line 65, ../scss/theme.scss */
.navbar.navbar-inverse .nav > li > a {
  font-size: 13px;
  font-weight: bold;
  color: #fff;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
  opacity: .6;
  filter: alpha(opacity=60);
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  transition: all 0.2s linear;
  padding: 10px 15px 10px;
  text-decoration: none;
}
/* line 78, ../scss/theme.scss */
.navbar.navbar-inverse .nav > li > a:hover, .navbar.navbar-inverse .nav > li > a:active {
  color: #fff;
  opacity: 1;
  filter: alpha(opacity=100);
}
/* line 86, ../scss/theme.scss */
.navbar.navbar-inverse .nav > li.active > a {
  color: #fff;
  opacity: 1;
  filter: alpha(opacity=100);
  background-color: transparent;
}
/* line 97, ../scss/theme.scss */
.navbar.sticky {
  background: rgba(0, 0, 0, 0.8);
  border-bottom: 1px solid #252525;
}
/* line 100, ../scss/theme.scss */
.navbar.sticky .container {
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}
/* line 106, ../scss/theme.scss */
.navbar .container {
  margin-top: 10px;
  margin-bottom: 10px;
  -webkit-transition: margin 0.2s ease-in-out;
  -moz-transition: margin 0.2s ease-in-out;
  transition: margin 0.2s ease-in-out;
}
/* line 114, ../scss/theme.scss */
.navbar .container .navbar-header .navbar-brand {
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  font-size: 20px;
  margin-left: -20px;
  padding: 10px 20px 10px;
}
/* line 126, ../scss/theme.scss */
.navbar .container .collapse .nav .dropdown .caret {
  margin-bottom: 4px;
}
/* line 130, ../scss/theme.scss */
.navbar .container .collapse .nav .dropdown .dropdown-menu {
  background: #252528;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  margin-top: 2px;
}
/* line 138, ../scss/theme.scss */
.navbar .container .collapse .nav .dropdown .dropdown-menu > li > a {
  color: #fff;
}
/* line 141, ../scss/theme.scss */
.navbar .container .collapse .nav .dropdown .dropdown-menu > li > a:hover {
  background: #08c;
}

/* line 153, ../scss/theme.scss */
.section_header {
  width: 100%;
  margin-bottom: 60px;
}
/* line 157, ../scss/theme.scss */
.section_header h3 {
  color: #646464;
  font-weight: 300;
  font-style: italic;
  font-size: 27px;
  border-bottom: 1px solid #b3b3b3;
  padding-bottom: 0px;
  display: inline-block;
  margin: 0;
}

/* Footer
-------------------------------------------------- */
/* line 172, ../scss/theme.scss */
#footer {
  min-height: 260px;
  margin-top: 140px;
  background-color: #252528;
  color: #fff;
  padding-top: 35px;
  /* testimonials */
  /* contact */
  /* credits */
  /* inner footer */
}
/* line 179, ../scss/theme.scss */
#footer .footer_header {
  color: #c4c4c4;
  font-style: italic;
  font-weight: 300;
  font-size: 25px;
  margin-bottom: 40px;
  margin-left: 15px;
}
/* line 188, ../scss/theme.scss */
#footer .recent_posts {
  margin-left: 0px;
}
/* line 191, ../scss/theme.scss */
#footer .recent_posts .post {
  margin-bottom: 70px;
  width: 93%;
}
/* line 195, ../scss/theme.scss */
#footer .recent_posts .post img {
  float: left;
  margin-right: 20px;
}
/* line 200, ../scss/theme.scss */
#footer .recent_posts .post .date {
  font-weight: bold;
  font-style: italic;
}
/* line 205, ../scss/theme.scss */
#footer .recent_posts .post .title {
  display: block;
  color: #b5b5b6;
  font-size: 14px;
}
/* line 215, ../scss/theme.scss */
#footer .testimonials .wrapper {
  margin: 0 auto;
  width: 82%;
}
/* line 220, ../scss/theme.scss */
#footer .testimonials .footer_header {
  margin-left: 30px;
}
/* line 224, ../scss/theme.scss */
#footer .testimonials .quote {
  color: #bfbfc0;
}
/* line 227, ../scss/theme.scss */
#footer .testimonials .quote span {
  font-size: 32px;
  font-style: italic;
  position: relative;
  top: 5px;
  font-family: Georgia !important;
  float: left;
  margin-right: 8px;
}
/* line 238, ../scss/theme.scss */
#footer .testimonials .author {
  margin-top: 40px;
}
/* line 241, ../scss/theme.scss */
#footer .testimonials .author img {
  float: left;
  margin-right: 15px;
  position: relative;
  top: -6px;
}
/* line 249, ../scss/theme.scss */
#footer .testimonials .name {
  font-size: 13px;
  font-weight: bold;
}
/* line 254, ../scss/theme.scss */
#footer .testimonials .info {
  font-style: italic;
  color: #ccc;
}
/* line 261, ../scss/theme.scss */
#footer .contact {
  text-align: right;
}
/* line 264, ../scss/theme.scss */
#footer .contact .footer_header {
  text-align: left;
  margin-left: 35px;
}
/* line 269, ../scss/theme.scss */
#footer .contact input[type="text"], #footer .contact textarea {
  border: none;
  background-color: #1f1f21;
  color: #868687;
  padding: 8px 20px;
  border-radius: 3px;
  font-size: 14px;
  font-family: Lato !important;
  width: 95%;
  -webkit-transition: background-color 0.2s linear;
  -moz-transition: background-color 0.2s linear;
  margin-bottom: 10px;
}
/* line 282, ../scss/theme.scss */
#footer .contact input[type="text"]:focus, #footer .contact textarea:focus {
  border: none;
  box-shadow: none;
  background-color: #000;
}
/* line 288, ../scss/theme.scss */
#footer .contact input[type="text"]:moz-placeholder, #footer .contact textarea:moz-placeholder {
  color: #868687;
}
/* line 292, ../scss/theme.scss */
#footer .contact input[type="text"]::-webkit-input-placeholder, #footer .contact textarea::-webkit-input-placeholder {
  color: #868687;
}
/* line 296, ../scss/theme.scss */
#footer .contact input[type="text"]:-ms-input-placeholder, #footer .contact textarea:-ms-input-placeholder {
  color: #868687;
}
/* line 301, ../scss/theme.scss */
#footer .contact input[type="submit"] {
  background-color: #3e3e40;
  border: none;
  color: #fff;
  border-radius: 4px;
  padding: 5px 20px;
  font-size: 14px;
  font-weight: bold;
  -webkit-transition: background-color 0.2s linear;
  -moz-transition: background-color 0.2s linear;
}
/* line 312, ../scss/theme.scss */
#footer .contact input[type="submit"]:hover {
  background-color: #2190DB;
}
/* line 319, ../scss/theme.scss */
#footer .credits {
  border-top: 1px solid #343437;
  padding: 10px 0px 60px 0px;
}
/* line 323, ../scss/theme.scss */
#footer .credits .social {
  margin-top: 30px;
  text-align: center;
}
/* line 327, ../scss/theme.scss */
#footer .credits .social a {
  margin: 10px;
}
/* line 330, ../scss/theme.scss */
#footer .credits .social a span {
  display: inline-block;
  width: 33px;
  height: 33px;
}
/* line 335, ../scss/theme.scss */
#footer .credits .social a span.ico1, #footer .credits .social a span.icoh {
  background-position: 0px 0px;
}
/* line 339, ../scss/theme.scss */
#footer .credits .social a span.ico2, #footer .credits .social a span.ico2h {
  background-position: -37px 0px;
}
/* line 343, ../scss/theme.scss */
#footer .credits .social a span.ico3, #footer .credits .social a span.ico3h {
  background-position: -75px 0px;
}
/* line 347, ../scss/theme.scss */
#footer .credits .social a span.ico4, #footer .credits .social a span.ico4h {
  background-position: -112px -1px;
}
/* line 351, ../scss/theme.scss */
#footer .credits .social a span.ico5, #footer .credits .social a span.ico5h {
  background-position: -151px 0px;
}
/* line 355, ../scss/theme.scss */
#footer .credits .social a span.ico6, #footer .credits .social a span.ico6h {
  background-position: -188px -1px;
}
/* line 359, ../scss/theme.scss */
#footer .credits .social a span.ico7, #footer .credits .social a span.ico7h {
  background-position: -226px 0px;
}
/* line 366, ../scss/theme.scss */
#footer .credits .social a:hover span.socialicons {
  display: none;
}
/* line 370, ../scss/theme.scss */
#footer .credits .social a:hover span.socialicons_h {
  display: inline-block !important;
}
/* line 378, ../scss/theme.scss */
#footer .credits .social span.socialicons_h {
  display: none;
}
/* line 384, ../scss/theme.scss */
#footer .credits .copyright {
  color: #a6a6a7;
  font-style: italic;
  text-align: center;
  margin-top: 30px;
}
/* line 391, ../scss/theme.scss */
#footer .credits .socialicons {
  background: url("../../img/socialicons.png") no-repeat;
  width: 265px;
  height: 36px;
}
/* line 397, ../scss/theme.scss */
#footer .credits .socialicons_h {
  background: url("../../img/socialicons_h.png") no-repeat;
  width: 265px;
  height: 36px;
}
/* line 405, ../scss/theme.scss */
#footer .info {
  margin-bottom: 10px;
  margin-left: 0;
}
/* line 409, ../scss/theme.scss */
#footer .info .residence {
  margin-left: 0;
}
/* line 413, ../scss/theme.scss */
#footer .info ul {
  margin: 0;
  padding: 0;
}
/* line 417, ../scss/theme.scss */
#footer .info ul li {
  list-style: none;
  font-size: 16px;
  color: #777E83;
  line-height: 23px;
}
/* line 424, ../scss/theme.scss */
#footer .info ul a {
  color: #777E83;
  -webkit-transition: color 0.2s;
  -moz-transition: color 0.2s;
  -ms-transition: color 0.2s;
  transition: color 0.2s;
}
/* line 431, ../scss/theme.scss */
#footer .info ul a:hover {
  color: #A9B4BB;
}
/* line 437, ../scss/theme.scss */
#footer .info .touch {
  float: right;
}
/* line 441, ../scss/theme.scss */
#footer .info .touch ul li {
  display: inline-block;
  margin-left: 22px;
}

/* Global
-------------------------------------------------- */
/* line 452, ../scss/theme.scss */
.page_header {
  background-color: #000;
  color: #fff;
  font-size: 23px;
  display: inline-block;
  padding: 0px 18px;
}

/* line 459, ../scss/theme.scss */
.social_icon {
  background: url("../../img/social_icons.png") no-repeat;
  width: 110px;
  height: 18px;
}

/* line 464, ../scss/theme.scss */
.contact_social {
  background: url("../../img/contact_social.png") no-repeat;
  width: 180px;
  height: 34px;
}

/* Responsive
-------------------------------------------------- */
@media (max-width: 991px) {
  /* line 475, ../scss/theme.scss */
  body {
    padding-top: 0 !important;
  }

  /* line 478, ../scss/theme.scss */
  .navbar.navbar-inverse {
    background: #252528;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  /* line 485, ../scss/theme.scss */
  .navbar {
    margin-bottom: 0;
  }
  /* line 489, ../scss/theme.scss */
  .navbar.transparent.navbar-fixed-top {
    margin-bottom: -70px;
    position: relative;
    top: 999;
  }
  /* line 497, ../scss/theme.scss */
  .navbar.home.navbar-fixed-top {
    margin-bottom: -70px;
    position: relative;
    top: 999;
  }
}
@media (max-width: 767px) {
  /* line 512, ../scss/theme.scss */
  .navbar.navbar-inverse .container .navbar-header .navbar-brand {
    margin-left: -5px;
  }
  /* line 523, ../scss/theme.scss */
  .navbar .navbar-nav .open .dropdown-menu > li > a {
    line-height: 25px;
    font-weight: bold;
    padding: 5px 15px 5px 35px;
  }

  /* line 535, ../scss/theme.scss */
  #footer .container {
    padding: 0px 20px;
  }
  /* line 539, ../scss/theme.scss */
  #footer .footer_header {
    margin-left: 0;
  }
  /* line 542, ../scss/theme.scss */
  #footer .footer_header h3 {
    margin-left: 0;
  }
  /* line 547, ../scss/theme.scss */
  #footer .testimonials {
    overflow: hidden;
    margin-bottom: 40px;
  }
  /* line 551, ../scss/theme.scss */
  #footer .testimonials .footer_header {
    margin-left: 0;
  }
  /* line 555, ../scss/theme.scss */
  #footer .testimonials .wrapper {
    float: left;
    width: 100%;
  }
  /* line 561, ../scss/theme.scss */
  #footer .contact {
    margin: 0;
  }
  /* line 564, ../scss/theme.scss */
  #footer .contact .footer_header {
    margin-left: 0;
  }
  /* line 568, ../scss/theme.scss */
  #footer .contact input[type="text"], #footer .contact textarea {
    float: left;
    width: 100%;
  }
  /* line 575, ../scss/theme.scss */
  #footer .info .touch {
    float: none;
  }
  /* line 578, ../scss/theme.scss */
  #footer .info .touch ul {
    margin: 15px 0 15px;
  }
  /* line 581, ../scss/theme.scss */
  #footer .info .touch ul li {
    margin: 0 30px 0 0;
  }
  /* line 588, ../scss/theme.scss */
  #footer .credits {
    margin-top: 20px;
  }
}
