/*
Syntax error: Undefined variable: "$default-line-height".
        on line 29 of /Applications/MAMP/htdocs/buulul/themes/buulul/css/sass/custom.scss

Backtrace:
/Applications/MAMP/htdocs/buulul/themes/buulul/css/sass/custom.scss:29
/Users/mikegonzalez/.rvm/gems/ruby-1.9.3-p385/gems/sass-3.2.6/lib/sass/script/variable.rb:49:in `_perform'
/Users/mikegonzalez/.rvm/gems/ruby-1.9.3-p385/gems/sass-3.2.6/lib/sass/script/node.rb:40:in `perform'
/Users/mikegonzalez/.rvm/gems/ruby-1.9.3-p385/gems/sass-3.2.6/lib/sass/tree/visitors/perform.rb:298:in `visit_prop'
/Users/mikegonzalez/.rvm/gems/ruby-1.9.3-p385/gems/sass-3.2.6/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/mikegonzalez/.rvm/gems/ruby-1.9.3-p385/gems/sass-3.2.6/lib/sass/tree/visitors/perform.rb:100:in `visit'
/Users/mikegonzalez/.rvm/gems/ruby-1.9.3-p385/gems/sass-3.2.6/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/Users/mikegonzalez/.rvm/gems/ruby-1.9.3-p385/gems/sass-3.2.6/lib/sass/tree/visitors/base.rb:53:in `map'
/Users/mikegonzalez/.rvm/gems/ruby-1.9.3-p385/gems/sass-3.2.6/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/Users/mikegonzalez/.rvm/gems/ruby-1.9.3-p385/gems/sass-3.2.6/lib/sass/tree/visitors/perform.rb:109:in `block in visit_children'
/Users/mikegonzalez/.rvm/gems/ruby-1.9.3-p385/gems/sass-3.2.6/lib/sass/tree/visitors/perform.rb:121:in `with_environment'
/Users/mikegonzalez/.rvm/gems/ruby-1.9.3-p385/gems/sass-3.2.6/lib/sass/tree/visitors/perform.rb:108:in `visit_children'
/Users/mikegonzalez/.rvm/gems/ruby-1.9.3-p385/gems/sass-3.2.6/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/Users/mikegonzalez/.rvm/gems/ruby-1.9.3-p385/gems/sass-3.2.6/lib/sass/tree/visitors/perform.rb:320:in `visit_rule'
/Users/mikegonzalez/.rvm/gems/ruby-1.9.3-p385/gems/sass-3.2.6/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/mikegonzalez/.rvm/gems/ruby-1.9.3-p385/gems/sass-3.2.6/lib/sass/tree/visitors/perform.rb:100:in `visit'
/Users/mikegonzalez/.rvm/gems/ruby-1.9.3-p385/gems/sass-3.2.6/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/Users/mikegonzalez/.rvm/gems/ruby-1.9.3-p385/gems/sass-3.2.6/lib/sass/tree/visitors/base.rb:53:in `map'
/Users/mikegonzalez/.rvm/gems/ruby-1.9.3-p385/gems/sass-3.2.6/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/Users/mikegonzalez/.rvm/gems/ruby-1.9.3-p385/gems/sass-3.2.6/lib/sass/tree/visitors/perform.rb:109:in `block in visit_children'
/Users/mikegonzalez/.rvm/gems/ruby-1.9.3-p385/gems/sass-3.2.6/lib/sass/tree/visitors/perform.rb:121:in `with_environment'
/Users/mikegonzalez/.rvm/gems/ruby-1.9.3-p385/gems/sass-3.2.6/lib/sass/tree/visitors/perform.rb:108:in `visit_children'
/Users/mikegonzalez/.rvm/gems/ruby-1.9.3-p385/gems/sass-3.2.6/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/Users/mikegonzalez/.rvm/gems/ruby-1.9.3-p385/gems/sass-3.2.6/lib/sass/tree/visitors/perform.rb:128:in `visit_root'
/Users/mikegonzalez/.rvm/gems/ruby-1.9.3-p385/gems/sass-3.2.6/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/mikegonzalez/.rvm/gems/ruby-1.9.3-p385/gems/sass-3.2.6/lib/sass/tree/visitors/perform.rb:100:in `visit'
/Users/mikegonzalez/.rvm/gems/ruby-1.9.3-p385/gems/sass-3.2.6/lib/sass/tree/visitors/perform.rb:7:in `visit'
/Users/mikegonzalez/.rvm/gems/ruby-1.9.3-p385/gems/sass-3.2.6/lib/sass/tree/root_node.rb:20:in `render'
/Users/mikegonzalez/.rvm/gems/ruby-1.9.3-p385/gems/sass-3.2.6/lib/sass/engine.rb:315:in `_render'
/Users/mikegonzalez/.rvm/gems/ruby-1.9.3-p385/gems/sass-3.2.6/lib/sass/engine.rb:262:in `render'
/Users/mikegonzalez/.rvm/gems/ruby-1.9.3-p385/gems/compass-0.12.2/lib/compass/compiler.rb:140:in `block (2 levels) in compile'
/Users/mikegonzalez/.rvm/gems/ruby-1.9.3-p385/gems/compass-0.12.2/lib/compass/compiler.rb:126:in `timed'
/Users/mikegonzalez/.rvm/gems/ruby-1.9.3-p385/gems/compass-0.12.2/lib/compass/compiler.rb:139:in `block in compile'
/Users/mikegonzalez/.rvm/gems/ruby-1.9.3-p385/gems/compass-0.12.2/lib/compass/logger.rb:45:in `red'
/Users/mikegonzalez/.rvm/gems/ruby-1.9.3-p385/gems/compass-0.12.2/lib/compass/compiler.rb:138:in `compile'
/Users/mikegonzalez/.rvm/gems/ruby-1.9.3-p385/gems/compass-0.12.2/lib/compass/compiler.rb:118:in `compile_if_required'
/Users/mikegonzalez/.rvm/gems/ruby-1.9.3-p385/gems/compass-0.12.2/lib/compass/compiler.rb:103:in `block (2 levels) in run'
/Users/mikegonzalez/.rvm/gems/ruby-1.9.3-p385/gems/compass-0.12.2/lib/compass/compiler.rb:101:in `each'
/Users/mikegonzalez/.rvm/gems/ruby-1.9.3-p385/gems/compass-0.12.2/lib/compass/compiler.rb:101:in `block in run'
/Users/mikegonzalez/.rvm/gems/ruby-1.9.3-p385/gems/compass-0.12.2/lib/compass/compiler.rb:126:in `timed'
/Users/mikegonzalez/.rvm/gems/ruby-1.9.3-p385/gems/compass-0.12.2/lib/compass/compiler.rb:100:in `run'
/Users/mikegonzalez/.rvm/gems/ruby-1.9.3-p385/gems/compass-0.12.2/lib/compass/commands/watch_project.rb:147:in `recompile'
/Users/mikegonzalez/.rvm/gems/ruby-1.9.3-p385/gems/fssm-0.2.10/lib/fssm/path.rb:73:in `call'
/Users/mikegonzalez/.rvm/gems/ruby-1.9.3-p385/gems/fssm-0.2.10/lib/fssm/path.rb:73:in `run_callback'
/Users/mikegonzalez/.rvm/gems/ruby-1.9.3-p385/gems/fssm-0.2.10/lib/fssm/path.rb:55:in `callback_action'
/Users/mikegonzalez/.rvm/gems/ruby-1.9.3-p385/gems/fssm-0.2.10/lib/fssm/path.rb:35:in `update'
/Users/mikegonzalez/.rvm/gems/ruby-1.9.3-p385/gems/fssm-0.2.10/lib/fssm/state/directory.rb:39:in `block in modified'
/Users/mikegonzalez/.rvm/gems/ruby-1.9.3-p385/gems/fssm-0.2.10/lib/fssm/state/directory.rb:37:in `each'
/Users/mikegonzalez/.rvm/gems/ruby-1.9.3-p385/gems/fssm-0.2.10/lib/fssm/state/directory.rb:37:in `modified'
/Users/mikegonzalez/.rvm/gems/ruby-1.9.3-p385/gems/fssm-0.2.10/lib/fssm/state/directory.rb:18:in `refresh'
/Users/mikegonzalez/.rvm/gems/ruby-1.9.3-p385/gems/fssm-0.2.10/lib/fssm/backends/polling.rb:17:in `block (2 levels) in run'
/Users/mikegonzalez/.rvm/gems/ruby-1.9.3-p385/gems/fssm-0.2.10/lib/fssm/backends/polling.rb:17:in `each'
/Users/mikegonzalez/.rvm/gems/ruby-1.9.3-p385/gems/fssm-0.2.10/lib/fssm/backends/polling.rb:17:in `block in run'
/Users/mikegonzalez/.rvm/gems/ruby-1.9.3-p385/gems/fssm-0.2.10/lib/fssm/backends/polling.rb:15:in `loop'
/Users/mikegonzalez/.rvm/gems/ruby-1.9.3-p385/gems/fssm-0.2.10/lib/fssm/backends/polling.rb:15:in `run'
/Users/mikegonzalez/.rvm/gems/ruby-1.9.3-p385/gems/fssm-0.2.10/lib/fssm/monitor.rb:26:in `run'
/Users/mikegonzalez/.rvm/gems/ruby-1.9.3-p385/gems/fssm-0.2.10/lib/fssm.rb:70:in `monitor'
/Users/mikegonzalez/.rvm/gems/ruby-1.9.3-p385/gems/compass-0.12.2/lib/compass/commands/watch_project.rb:87:in `perform'
/Users/mikegonzalez/.rvm/gems/ruby-1.9.3-p385/gems/compass-0.12.2/lib/compass/commands/base.rb:18:in `execute'
/Users/mikegonzalez/.rvm/gems/ruby-1.9.3-p385/gems/compass-0.12.2/lib/compass/commands/project_base.rb:19:in `execute'
/Users/mikegonzalez/.rvm/gems/ruby-1.9.3-p385/gems/compass-0.12.2/lib/compass/exec/sub_command_ui.rb:43:in `perform!'
/Users/mikegonzalez/.rvm/gems/ruby-1.9.3-p385/gems/compass-0.12.2/lib/compass/exec/sub_command_ui.rb:15:in `run!'
/Users/mikegonzalez/.rvm/gems/ruby-1.9.3-p385/gems/compass-0.12.2/bin/compass:30:in `block in <top (required)>'
/Users/mikegonzalez/.rvm/gems/ruby-1.9.3-p385/gems/compass-0.12.2/bin/compass:44:in `call'
/Users/mikegonzalez/.rvm/gems/ruby-1.9.3-p385/gems/compass-0.12.2/bin/compass:44:in `<top (required)>'
/Users/mikegonzalez/.rvm/gems/ruby-1.9.3-p385/bin/compass:19:in `load'
/Users/mikegonzalez/.rvm/gems/ruby-1.9.3-p385/bin/compass:19:in `<main>'
/Users/mikegonzalez/.rvm/gems/ruby-1.9.3-p385/bin/ruby_noexec_wrapper:14:in `eval'
/Users/mikegonzalez/.rvm/gems/ruby-1.9.3-p385/bin/ruby_noexec_wrapper:14:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Undefined variable: \"$default-line-height\".\A         on line 29 of /Applications/MAMP/htdocs/buulul/themes/buulul/css/sass/custom.scss"; }
