/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../../../../../Users/mikegonzalez/.rvm/gems/ruby-1.9.3-p385/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../Users/mikegonzalez/.rvm/gems/ruby-1.9.3-p385/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../Users/mikegonzalez/.rvm/gems/ruby-1.9.3-p385/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../Users/mikegonzalez/.rvm/gems/ruby-1.9.3-p385/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../Users/mikegonzalez/.rvm/gems/ruby-1.9.3-p385/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../Users/mikegonzalez/.rvm/gems/ruby-1.9.3-p385/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../Users/mikegonzalez/.rvm/gems/ruby-1.9.3-p385/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../Users/mikegonzalez/.rvm/gems/ruby-1.9.3-p385/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../Users/mikegonzalez/.rvm/gems/ruby-1.9.3-p385/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/*-- Media pixels variables --*/
/*-- Margin variables --*/
/*-- Font variables --*/
/*-- Colors variables --*/
/*-- Mixing declarations --*/
/*-- Header --*/
/* line 2, ../sass/custom.scss */
.section_header {
  margin: 24px 0 20px;
}

/* line 5, ../sass/custom.scss */
header#mainHeader {
  min-height: 91px;
  background-color: #046792 !important;
}
/* line 12, ../sass/custom.scss */
header#mainHeader .navbar.sticky,
header#mainHeader .navbar.navbar-inverse,
header#mainHeader .navbar-inverse .navbar-toggle:hover,
header#mainHeader .navbar-inverse .navbar-toggle:focus {
  background-color: #046792;
}

/*-- Body --*/
/* line 19, ../sass/custom.scss */
body {
  background-color: #F2F2F2;
}

/* line 22, ../sass/custom.scss */
main {
  padding: 0 0 30px;
}

/* line 26, ../sass/custom.scss */
.post-text-container,
.author_box {
  margin: 18px auto 0;
  width: 83%;
  line-height: 21px;
  font-size: 14px;
}

/* line 32, ../sass/custom.scss */
.isotope-item {
  background: white;
  margin-left: 0;
  border-radius: 4px;
  box-shadow: 0 1px 3px 1px #e0e0e0;
}

/* line 38, ../sass/custom.scss */
.img-thumbnail {
  padding-bottom: 0;
}

/*-- Home Page --*/
/* line 42, ../sass/custom.scss */
#main {
  min-height: 81px;
  margin: 81px 0 0 0;
}

/* line 46, ../sass/custom.scss */
#portfolio {
  margin-top: 30px;
}
/* line 49, ../sass/custom.scss */
#portfolio #filters {
  margin-bottom: 15px;
}

/*-- Categories Holder --*/
/* line 55, ../sass/custom.scss */
.categories #blog {
  margin-top: 0;
}
/* line 58, ../sass/custom.scss */
.categories #blog .container .post_row .col-sm-3 {
  max-width: 237px;
  margin-right: 5px;
  padding: 0;
}
/* line 63, ../sass/custom.scss */
.categories #blog .post_row .post {
  padding-top: 0px;
}

/* line 68, ../sass/custom.scss */
#blog {
  margin-top: 0px;
}
/* line 71, ../sass/custom.scss */
#blog .post_row .post {
  padding-top: 20px;
}
/* line 74, ../sass/custom.scss */
#blog .post_row .post:hover {
  background-color: #87CEFF;
  color: #ffffff;
  box-shadow: 0px 0px 0px 5px #87ceff;
}
/* line 77, ../sass/custom.scss */
#blog .post_row .post .img img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  filter: grayscale(100%);
}
/* line 81, ../sass/custom.scss */
#blog .post_row .post .img img:hover {
  display: block;
  margin-left: auto;
  margin-right: auto;
  -webkit-filter: grayscale(0%);
  -moz-filter: grayscale(0%);
  filter: grayscale(0%);
}
/* line 85, ../sass/custom.scss */
#blog .rateable-ui {
  margin: 0 auto;
}

/* line 90, ../sass/custom.scss */
#blog.categories-container .post_row .post .text {
  padding-bottom: 18px;
  text-align: center;
  line-height: 21px;
}
/* line 95, ../sass/custom.scss */
#blog.categories-container .post {
  min-height: 400px;
}
/* line 98, ../sass/custom.scss */
#blog.categories-container .btn-block {
  margin: 0 auto 5px;
  max-width: 95%;
}

/* line 103, ../sass/custom.scss */
.back-button {
  display: block;
  margin-top: 25px;
  padding: 8px 0;
  width: 115px;
}

/*-- Footer --*/
/* line 110, ../sass/custom.scss */
#footer {
  background-color: #046792 !important;
  margin-top: 0;
  /* overriding cleancanvas, but remove after new social media has been added to the footer. - start */
  min-height: 0;
  padding-top: 0;
  /* overriding cleancanvas, but remove after new social media has been added to the footer. - end */
}
/* line 113, ../sass/custom.scss */
#footer .credits {
  border: 0;
}

/* line 5, ../sass/forms.scss */
form input[type="text"],
form input[type="email"],
form input[type="password"] {
  width: 100%;
  height: auto !important;
  border-radius: 0 !important;
}

/* Extra small devices (phones, less than 768px) */
@media (max-width: 767px) {
  /* line 3, ../sass/cssMediaQueries.scss */
  main {
    text-align: center;
  }

  /* line 7, ../sass/cssMediaQueries.scss */
  #blog .post_row .post .text {
    width: 100%;
    margin: 0;
  }

  /* line 12, ../sass/cssMediaQueries.scss */
  .section_header {
    margin: 24px 0 20px;
  }

  /* line 15, ../sass/cssMediaQueries.scss */
  .categories #blog .post_row .post {
    width: auto;
    padding-bottom: 0;
  }
  /* line 19, ../sass/cssMediaQueries.scss */
  .categories #blog .container .post_row .col-sm-3 {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  /* line 24, ../sass/cssMediaQueries.scss */
  .categories-container .post_row .post .img img {
    width: 90%;
    height: 90%;
  }

  /*-- google map --*/
  /* line 29, ../sass/cssMediaQueries.scss */
  #map_canvas {
    margin-bottom: 10px;
  }
  /* line 31, ../sass/cssMediaQueries.scss */
  #map_canvas iframe {
    width: 100%;
  }

  /* line 37, ../sass/cssMediaQueries.scss */
  #footer .credits {
    margin-top: 0;
  }
}
/*-- NEVER REMOVE ME! --*/
/* Small devices (tablets, 768px and up) */
/*-- NEVER REMOVE ME! --*/
/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  /* line 49, ../sass/cssMediaQueries.scss */
  main.categories {
    width: 992px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  /* line 56, ../sass/cssMediaQueries.scss */
  .container,
  .navbar-static-top .container,
  .navbar-fixed-top .container,
  .navbar-fixed-bottom .container {
    width: 100%;
  }

  /* line 59, ../sass/cssMediaQueries.scss */
  .post_row .col-sm-4 {
    margin: 10px 0;
    padding: 0;
  }

  /* line 64, ../sass/cssMediaQueries.scss */
  .categories-container .col-sm-3 {
    margin-bottom: 30px;
  }
}
/*-- NEVER REMOVE ME! --*/
/* Large devices (large desktops, 1200px and up) */
/*-- NEVER REMOVE ME! --*/
/* We occasionally expand on these media queries to include a max-width to limit CSS to a narrower set of devices.*/
/*@media (max-width: @screen-xs-max) { ... }
@media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) { ... }
@media (min-width: @screen-md-min) and (max-width: @screen-md-max) { ... }
@media (min-width: @screen-lg-min) { ... }*/
